.address {
    text-align: center;
}

.address-info {
    padding: 5rem;
    width: 90%;
    max-width: 36rem;
    margin: auto;
    background-color: var(--support-pink);
    border-radius: 10px;
}

.address h2 {
    font-size: 3rem;
    margin: 2rem auto;
}

.address p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.map-div {
    margin: 3rem auto;
}

.map-div iframe {
    max-width: 600px;
    max-height: 450px;
    width: 90%;
    height: 90vw;
}