.order {
    text-align: center;
}

.order h2 {
    font-size: 3rem;
    margin: 2rem auto;
}

.order h3 {
    font-size: 2rem;
    margin: 2rem auto;
}

.order form {
    display: inline-block;
    width: clamp(30rem, 50vw, 70rem);
}

.order input {
    margin-bottom: 2rem;
    height: 2.4rem;
    max-width: 30rem;
    width: 100%;
}

.order label {
    margin-bottom: 0.8rem;
    display: inline-block;
    font-size: 2rem;
}

.order .submit-order-button {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: var(--main-red);
    color: var(--main-white);
    font-weight: 600;
    border: 0.1rem solid var(--main-black);
    border-radius: 10px;
}

.order .submit-order-button:is(:hover, :focus) {
    background-color: var(--main-white);
    color: var(--main-red);
    border: 0.2rem solid var(--main-red);
}

@media only screen and (max-width: 768px) {
    .order form {
        width: 100%;
    }
}