.menu-category {
    width: 60%;
    margin: 2rem 0;
    background-color: var(--support-pink);
    border-radius: 10px;
}

.menu-category-name {
    width: 90%;
    font-size: 2.4rem;
    margin: 2rem auto;
    padding-bottom: 2rem;
    color: var(--main-black);
    border-bottom: 0.1rem solid var(--main-black);
}

.menu-dishes-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-dish-div {
    margin: 1rem;
}

.menu-dish-name {
    font-size: 2rem;
    color: var(--main-black);
}

.menu-dish-img {
    width: clamp(16rem, 15vw, 20rem);
    height: clamp(16rem, 15vw, 20rem);
    object-fit: cover;
    border-radius: 50%;
}

.hidden-menu-category {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    will-change: opacity, filter, transform;
}

.show-menu-category {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media only screen and (max-width: 768px) {
    .menu-category {
        width: 90%;
    }
}

@media(prefers-reduced-motion) {
    .hidden-menu-category {
        transition: none;
    }
}