.dish {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    height: 50vh;
    transition: opacity 0.4s linear;
}

.dish-text {
    text-align: center;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dish-name {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.dish-description {
    font-size: 2rem;
}

.dish-figure {
    height: 50vh;
    width: 50%;
}

.dish-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    vertical-align: top;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    .dish {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: opacity 0.4s linear;
    }

    .dish-text {
        width: 100%;
        height: 35%;
        padding: 2rem;
    }

    .dish-figure {
        width: 100%;
        height: 50%;
    }

    .dish-img {
        border-radius: 0;
    }
}

@media only screen and (max-width: 425px) {
    .dish-name {
        font-size: 2.4rem;
    }
}